body {
    background-color: #1D80DD !important;
}

h3, h2, h1 {
    color: #FFFFFF !important;
}

.background {
    background-color: #1D80DD !important;
}

textarea::-webkit-input-placeholder {
    color: #F5A623 !important;
}
     
textarea:-moz-placeholder { /* Firefox 18- */
    color: #F5A623 !important;  
}
     
textarea::-moz-placeholder {  /* Firefox 19+ */
    color: #F5A623 !important;  
}
     
textarea:-ms-input-placeholder {  
    color: #F5A623 !important;  
}


input::-webkit-input-placeholder {
    color: #F5A623 !important;
}
     
input:-moz-placeholder { /* Firefox 18- */
    color: #F5A623 !important;  
}
     
input::-moz-placeholder {  /* Firefox 19+ */
    color: #F5A623 !important;  
}
     
input:-ms-input-placeholder {  
    color: #F5A623 !important;
}
.colors
{
    bleu: #1D80DD;
    orange: #E66249;
    jaune: #F5A623;
    blanc: #C1C1C1;
}

.ui.orange.button, .ui.orange.buttons .button {
    background-color: #F5A623 !important;
}